
{% include 'header.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/home-bg.jpg') }})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">

                    <h1>Make Admin</h1>

                    <span class="subheading">Suurrree, let others do all the work </span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}

                <form action="{{url_for('make_admin') }}" method="post" novalidate >
                {% for field in form %}
                    <div class="form-group justify-content-between d-flex border-bottom">
                        {{ field.label }}
                        {{ field(class="form-check-input") }}
                    </div>
                {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}