{% include 'header.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ post.img_url }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.subtitle }}</h2>
                    <span class="meta">
                      Posted by
                      <a href="#!">{{ post.author.name }}</a>
                      on {{ post.date }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ post.body|safe }}
            </div>
        </div>
    </div>
</article>

{% if post.author.id == current_user.id or current_user.id == 1 %}
<div class="d-flex justify-content-evenly mb-4">
    <form action="{{ url_for('delete_post', index=post.id) }}" method="post">
        <button type="submit" class="btn btn-danger text-uppercase">Delete Post</button>
    </form>
    <a class="btn btn-primary text-uppercase" href="{{ url_for('edit_post', index=post.id) }}">Edit Post</a>
</div>
{% endif %}

<div class="container px-4 px-lg-5 commentBox">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <!--           Comments Area -->
        <div class="col-lg-8 col-md-8 py-4 border-top">
            <h3>Comments:</h3>

            <div class="table-responsive comment-container">
                <table class="table">
                    <tbody>
                    {% if not post.comments %}
                    <tr>
                        <td>
                            <p>Looks empty here. Why don't you say something?</p>
                        </td>
                    </tr>
                    {% endif %}

                    {% for comment in post.comments %}
                    <tr>
                        <td>
                            <div class="commenterImage">
                                <img src="{{ comment.owner.email | gravatar }}"/>
                            </div>
                        </td>

                        <td>
                            <div class="commentText">
                                <p> {{ comment.content }} </p>
                                <span class="date sub-text">{{ comment.owner.name }}</span>
                            </div>
                        </td>

                        <td>
                            <div class="right">
                                {% if current_user.is_authenticated and comment.owner.id == current_user.id %}
                                <a href="{{ url_for('delete_comment', comment_id=comment.id) }}"
                                   class="btn btn-danger btn-sm text-uppercase">Del </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>

                    {% endfor %}
                    <tbody>
                </table>
            </div>

            {% if current_user.is_authenticated %}
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
            {% endif %}
        </div>
    </div>
</div>


{% include 'footer.html' %}
