{% include 'header.html' %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1634114521044-a8c62098f958?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">

                    <h1>Register</h1>

                    <span class="subheading">Only if you realllly want to.. </span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">


                <form action="{{url_for('register') }}" method="post" novalidate>

                        {{ form.csrf_token }}

                        <fieldset>
                            <legend class="border-bottom mb-4">
                                Register
                            </legend>
                            <div class="form-group">
                                {{ form.name.label }}
                                {% if form.name.errors %}
                                {{ form.name(class="form-control form-control-lg is-invalid") }}
                                {% for error in form.name.errors %}
                                <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                                {% else %}
                                {{ form.name(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.email.label }}
                                {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                {% for error in form.email.errors %}
                                <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                                {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                                {% endif %}

                            </div>
                            <div class="form-group">
                                {{ form.password.label }}
                                {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                {% for error in form.password.errors %}
                                <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                                {% else %}
                                {{ form.password(class="form-control form-control-lg") }}
                                {% endif %}

                            </div>

                            <div class="form-group">
                                {{ form.submit(class="btn btn-primary text-uppercase") }}
                            </div>
                        </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}